@import './reset.css';

@font-face {
	font-family: 'Cascadia Code';
	src: url('../fonts/cascadia/CascadiaCode-Regular.otf') format('opentype'),
		 url('../fonts/cascadia/CascadiaCode.ttf') format('truetype'),
		 url('../fonts/cascadia/CascadiaCode.woff2') format('woff2');

	font-family: 'Fira Code';
	src: url('../fonts/fira/FiraCode-Regular.ttf') format('truetype'),
		 url('../fonts/fira/FiraCode-Regular.woff') format('woff'),
		 url('../fonts/fira/FiraCode-Regular.woff2') format('woff2');
}

* {
	font-family: 'Cascadia Code', 'Fira Code', 'Times New Roman', Times, serif;
}

/* colors */
:root {
	--light-gray: rgb(27, 31, 34);
	--bg-gray: rgb(23, 27, 30);
	--border-gray: rgb(21, 24, 27);
	--light-blue: rgb(142, 190, 254);
	--light-blue-20: rgba(142, 190, 254, 0.2);
	--blue: rgb(104, 167, 254);
	--purple: rgb(163, 122, 236);
	--orange: rgb(246, 153, 93);
}

body {
	background-color: var(--bg-gray);
	color: white;
	overflow-x: hidden;
}

#content-wrapper {
	display: grid;
	grid-template-columns: 25vw 50vw 25vw;
}

#content-middle {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#codebox {
	background-color: var(--light-gray);
	border: 2px solid var(--border-gray);
	border-radius: 32px;

	padding: 16px;
	font-size: 20px;

	margin-top: 8px;
	margin-bottom: 8px;
}

a#str-url {
	text-decoration: none;
	color: inherit;
	padding: 1px;
}

a#str-url:hover {
	background-color: var(--light-blue-20);
	border-radius: 4px;
}

/* different indentation levels (CodeBoxLevel)*/
.cbl1 {
	text-indent: 2em;
}

.cbl2 {
	text-indent: 4em;
}

.cbl3 {
	text-indent: 6em;
}

/* bracket colors for different levels of indentation (BracketLevel)*/
.bl0 {
	color: var(--blue);
}
.bl1 {
	color: var(--orange);
}
.bl2 {
	color: var(--purple);
}
.bl3 {
	color: var(--blue);
}

.key {
	/* color: var(--purple); */
	color: white;
}
.str {
	color: var(--light-blue);
}
.int {
	color: var(--blue);
}

footer {
	height: 64px;
	background-color: var(--light-gray);
	border-radius: 16px;
	border: 2px solid var(--border-gray);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	padding-left: 32px;
	padding-right: 32px;
	margin-bottom: 8px;

	color: var(--blue);
	font-size: 14px;
}

#github-icon {
	height: 32px;
	/* made with https://codepen.io/sosuke/pen/Pjoqqp */
	filter: invert(62%) sepia(8%) saturate(4957%) hue-rotate(188deg) brightness(103%) contrast(101%);
}

footer > div > a {
	text-decoration: none;
	color: inherit;
}
footer > div > a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 600px) {
	#content-wrapper {
		grid-template-columns: 8px auto 8px;
	}

	#codebox {
		font-size: 11px;
	}

	footer {
		height: 32px;
		border-radius: 8px;
		font-size: 8px;
		padding-left: 16px;
		padding-right: 16px;
	}

	/* different indentation levels (CodeBoxLevel)*/
	.cbl1 {
		text-indent: 1em;
	}

	.cbl2 {
		text-indent: 2em;
	}

	.cbl3 {
		text-indent: 3em;
	}

} 